.acc-content{
    height: 100vh;
    position: relative;
    padding: 2%;
}

.acc-background{
    position: absolute;
    width: 100%;
    object-fit: fill;
    bottom: 0;
}

.acc-layout{
    height: 100%;
    z-index: 999;
}

.acc-form-layout{
    width: 1125px;
    height: 735px;
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
    padding: 30px 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.acc-grid-layout div{
    padding: 1%;
}

.acc-heading{
    font-size: 36px;
    font-weight: 500;
}

.acc-fat-input{
    width: 324px;
    height: 216px;
    border: 2px solid #f1f3f4;
    
}

.acc-background-input{
    width: 308px;
    height: 216px;
    border: 2px solid #f1f3f4;
}

.acc-profile-input{
    width: 176px;
    height: 216px;
    right: 4%;
    border: 2px solid #f1f3f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acc-profileImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #f1f3f4;
}
