@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

body {
  font-family: "Kanit";
}

.navbar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
}

.drop1 {
  box-shadow: -20px 20px 100px rgba(27, 32, 04, 0.15);
}


.btn-success {
  background: #53D257;
  border: 0;
  color: white;
  width: 120px;
  border-radius: 20px;
}

.btn-outline {
  border: 0px;
  background: white;
  color: #53D257;
  width: 120px;
  border-radius: 20px;
}

.btn-start {
  border: 0;
  background-color: white;
  color: #4DC247;
  border-radius: 50px;
  width: 300px;
  height: 65px;
}

.btn-start:hover {
  border: 0;
  background: #4DC247;
  color: white;
}

.bounce{
  transform: scale(1);
  animation-name: bounce-animation;
  animation-duration: 0.2s;
  
}

@keyframes bounce-animation {
  from{transform: scale(0.96);}
  to{transform: scale(1);}
}

@media screen and (max-width: 400px) {
  .text-2xl {
    font-size: 0.25rem;
    /* ลดขนาดตัวอักษรให้เหมาะสมกับหน้าจอขนาดเล็กขึ้น */
  }

  .text-3xl {
    font-size: 0.35rem;
    /* ลดขนาดตัวอักษรให้เหมาะสมกับหน้าจอขนาดเล็กขึ้น */
  }

  .text-4xl {
    font-size: 0.5rem;
    /* ลดขนาดตัวอักษรให้เหมาะสมกับหน้าจอขนาดเล็กขึ้น */
  }

  .text-8xl {
    font-size: 1rem;
    /* ลดขนาดตัวอักษรให้เหมาะสมกับหน้าจอขนาดเล็กขึ้น */
  }

  .scroll-1 {
    padding: 100px 0;
    padding-left: 5%;
  }

  .grid {
    padding: 1px 1px;
  }

  .col {
    width: 100%;
    height: fit-content;
    padding: 0px 0px;
  }

  .pt-20 {
    padding: 1px 0px;
    padding-top: 1px; 
  }

  .pl-10 {
    padding: 1px 0px;
    padding-left: 1px;
  }
  .btn-start {
    background-color: white;
    color: #4DC247;
    border-radius: 50px;
    width: 100px;
    height: 5px;
  }
  
}